<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.X.tcbj.activity"
    android:versionCode="48"
    android:versionName="4.7">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>

    <uses-feature android:name="android.hardware.nfc.hce" />
    <application
        android:name="com.X.server.location"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.X.tcbj.activity.LoadingActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.X.tcbj.activity.GuideOneActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.BBSActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Facilitate"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Bussexchange"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Reply_post"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Bussanews"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Bussainfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.BusinesAinfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.AuthenShop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Bamember"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.SearchActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.News_omment"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".APPConfig"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".OrderSubmitVC"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".OrderPayVC"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.X.tcbj.utils.XHtmlVC"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.X.tcbj.activity.Pri_info"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Report_post"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Photo_newsinfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Loca_news"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Info_info"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".UserUnitsVC"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".UserFenhongVC"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.X.tcbj.activity.Bbs_new_post"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Post_info"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.BusinessAssociation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.ShopsDiscussList"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.News_search"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Privilegelist"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.GuideTwoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.GuideThreeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.ShopsListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Myinfo"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.MyCollect"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.webiew"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.MyComments"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.About"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.RegistActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Bbs"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Feedback"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Privileinfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.ShopDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.ShopsDiscussActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.ShopPrivilegeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Bbs_class"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.ShopsDiscussListActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.X.tcbj.activity.MerchantsClassify"></activity>
        <activity
            android:name="com.X.tcbj.activity.Updatemyinfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.testnews"
            android:theme="@style/StyledIndicators"></activity>
        <activity
            android:name="com.X.tcbj.activity.Privile_search"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.X.tcbj.activity.Zhanghaoguanl"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Genghuansj"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Shangpinliebiao"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Shousuo"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.X.tcbj.activity.shangjiavip"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.X.tcbj.activity.vipquanbupinglun"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.X.tcbj.activity.Yuedian"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.X.tcbj.activity.yuediancheng"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.X.tcbj.activity.Yuediansb"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.X.tcbj.activity.Zaixianyuding"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.X.tcbj.activity.vipzixun"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.X.tcbj.activity.vipzixunxiangqing"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.X.tcbj.activity.vipxpinglun"
            android:screenOrientation="portrait"
            ></activity>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.X.tcbj.activity.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.X.tcbj.activity.HotSearch"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.GuideActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.X.tcbj.activity.ShopdateActivity"></activity>
        <activity
            android:name="com.X.tcbj.activity.CityListsActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.HomePageActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
        <service android:name="com.X.server.HKService"></service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="A4hXss4QoLVT0BwZbTnPoKhn" />
        <!--<meta-data-->
        <!--android:name="com.baidu.lbsapi.API_KEY"-->
        <!--android:value="NGeo2NbGRCx76NjnpGG0iyPB" />-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53731eb756240b1cc9001be0" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:process=":DownloadingService"></service>

        <activity
            android:name="com.X.tcbj.activity.loadingguanggao"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.X.tcbj.activity.Updatepowd"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.BusLine"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Driveline"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Mymap"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.SeminarActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.ThematicDetails"
            android:theme="@style/StyledIndicators"></activity>
        <activity
            android:name="com.X.tcbj.activity.SemNewsInfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.SearchMall"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Mall"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.ShopVipInfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.ShopPhotoLook"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.ShopComentList"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.PhotoLook"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.ImgNewsInfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.OrderComment"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.ShangjiaActivicty"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.BaiduMaps"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.ShangjiasActivicty"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".RegistStep2VC"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".RegistStep3VC"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".UserRenzhengVC"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a9c448d7e19a6476c18442b9024139c5" />

        <activity android:name="com.amap.demo.LocationManager"></activity>
        <activity
            android:name="com.X.tcbj.activity.MallInfo"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <!--<梨花></梨花>-->
        <activity
            android:name="com.X.tcbj.activity.MianfeiShiyongActivicty"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Mianfei_jieshu"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Shiyong_pinglun"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.ShiyongQuanbupinglun"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Mianfei_tijiaobaogao"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.tijiaobaogao"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Mianfei_jijiangkaishi"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Mianfei_shenqing"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Shiyong_shenqing"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Xuanzesheng"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Xuanzeshi"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Xuanzexian"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.MiaoShaActivicty"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.MiaoShaXiangQingActivicty"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Tupian_xiangqing"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Miaosha_quanbupinglun"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Miaosha_tuwen"></activity>
        <activity
            android:name="com.X.tcbj.activity.Tuangou"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.TuangouXiangqing"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.tuangoutuwen"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.MyTryOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.X.tcbj.activity.MyCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.X.tcbj.activity.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.X.tcbj.activity.MyAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.X.tcbj.activity.Tuangou_quanbupinglun"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Tuangou_caini"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.SubmitOrder"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.NewAddressActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.MyChooseAddreActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.SuccesActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.MallComent"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.ShopCarAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.OrderProSearchActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Mallalbum"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.BackMoney"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.X.tcbj.activity.Shoujizhuce"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Szhaohuimima"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Zhaohuimima"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Zhaohuig"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.X.tcbj.activity.Youxiangzhaohui"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.X.tcbj.activity.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <receiver android:name="com.X.server.CompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>
    </application>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息,wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限,wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

</manifest>