<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hkkj.csrx.activity"
    android:versionCode="48"
    android:versionName="4.7">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>

    <uses-feature android:name="android.hardware.nfc.hce" />
    <application
        android:name="com.hkkj.server.location"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hkkj.csrx.activity.GuideOneActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.BBSActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Facilitate"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Bussexchange"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Reply_post"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Bussanews"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Bussainfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.BusinesAinfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.AuthenShop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Bamember"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.SearchActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.News_omment"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Pri_info"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Report_post"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Photo_newsinfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Loca_news"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Info_info"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Bbs_new_post"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Post_info"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.BusinessAssociation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.ShopsDiscussList"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.News_search"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Privilegelist"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.GuideTwoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.GuideThreeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.ShopsListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Myinfo"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.MyCollect"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.webiew"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.MyComments"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.About"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.RegistActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Bbs"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Feedback"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Privileinfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.ShopDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.ShopsDiscussActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.ShopPrivilegeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Bbs_class"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.ShopsDiscussListActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.hkkj.csrx.activity.MerchantsClassify"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Updatemyinfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.testnews"
            android:theme="@style/StyledIndicators"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Privile_search"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".Zhanghaoguanl"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Genghuansj"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Shangpinliebiao"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Shousuo"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".shangjiavip"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".vipquanbupinglun"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Yuedian"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".yuediancheng"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Yuediansb"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Zaixianyuding"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".vipzixun"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".vipzixunxiangqing"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".vipxpinglun"
            android:screenOrientation="portrait"
            ></activity>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".HotSearch"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".GuideActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.hkkj.csrx.activity.ShopdateActivity"></activity>
        <activity
            android:name=".CityListsActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".HomePageActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
        <service android:name="com.hkkj.server.HKService"></service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="A4hXss4QoLVT0BwZbTnPoKhn" />
        <!--<meta-data-->
        <!--android:name="com.baidu.lbsapi.API_KEY"-->
        <!--android:value="NGeo2NbGRCx76NjnpGG0iyPB" />-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53731eb756240b1cc9001be0" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:process=":DownloadingService"></service>

        <activity
            android:name="com.hkkj.csrx.activity.loadingguanggao"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Updatepowd"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.BusLine"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Driveline"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Mymap"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.SeminarActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.ThematicDetails"
            android:theme="@style/StyledIndicators"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.SemNewsInfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.SearchMall"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.Mall"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.ShopVipInfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.ShopPhotoLook"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.ShopComentList"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.PhotoLook"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.ImgNewsInfo"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.OrderComment"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.ShangjiaActivicty"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.BaiduMaps"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.hkkj.csrx.activity.ShangjiasActivicty"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a9c448d7e19a6476c18442b9024139c5" />

        <activity android:name="com.amap.demo.LocationManager"></activity>
        <activity
            android:name=".MallInfo"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"></activity>
        <!--<梨花></梨花>-->
        <activity
            android:name=".MianfeiShiyongActivicty"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Mianfei_jieshu"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Shiyong_pinglun"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ShiyongQuanbupinglun"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Mianfei_tijiaobaogao"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".tijiaobaogao"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Mianfei_jijiangkaishi"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Mianfei_shenqing"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Shiyong_shenqing"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Xuanzesheng"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Xuanzeshi"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Xuanzexian"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MiaoShaActivicty"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MiaoShaXiangQingActivicty"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Tupian_xiangqing"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Miaosha_quanbupinglun"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Miaosha_tuwen"></activity>
        <activity
            android:name=".Tuangou"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".TuangouXiangqing"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".tuangoutuwen"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MyTryOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tuangou_quanbupinglun"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Tuangou_caini"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SubmitOrder"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".NewAddressActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MyChooseAddreActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SuccesActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MallComent"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ShopCarAct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".OrderProSearchActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Mallalbum"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".BackMoney"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Shoujizhuce"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Szhaohuimima"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Zhaohuimima"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Zhaohuig"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Youxiangzhaohui"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <receiver android:name="com.hkkj.server.CompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>
    </application>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息,wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限,wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

</manifest>